* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
}

header {
    background-color: blueviolet;
    color:black;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

article h2 {
    color: #333;
}

article img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: blueviolet;
    color: black;
    padding: 1rem;
}
h2{
    text-align: center;
}
button{
    background-color: blueviolet;
    text-align: center;
    color: black;
    width: 100px;
    height: 50px;
    border-radius: 20px;
}
.blog{
    text-align: center;
    background-color: black;
    color: white;
}